.player-module-wrapper {
    width: 100%;
    height: 100%;
    background: #000;
    position: relative;
    overflow: hidden;
}

.video-player-container {
    width: 100%;
    height: 100%;
    position: relative;
}

video {
    width: 100%;
    height: 100%;
    display: block;
}

.modern-player-container-override {
    background: #000 !important;
}